@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

html {
  height: 100%;
}

body {
  height: 100%;
  background: #21786A;
  color: white;
  text-align: center;
  background: -webkit-radial-gradient(#21786A, black);
  background: -o-radial-gradient(#21786A, black);
  background: -moz-radial-gradient(#21786A, black);
  background: radial-gradient(#21786A, black);
  background-repeat: no-repeat;
  margin: 15px;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  text-shadow: 4px 4px #000000;
}

.tooltip-inner, .tooltip.top > .tooltip-arrow {
    margin-bottom: 40px;
}

#quote {
  height: 100%;
  color: white;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 30px;
}

#quote {
  margin-top: 30px;
}

#quote a {
  color: white;
}

#social {
  text-align: center;
}

#twitter-share {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: white;
  background: blue;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  border-radius: 20px;
}

#twitter-share i{
  line-height: 40px;
}